nodered_flow
[{"id":"3a6eedbf.ae02e2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5fef207e.3c721","type":"debug","z":"3a6eedbf.ae02e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":260,"wires":[]},{"id":"b6f4329f.dd7a6","type":"mqtt in","z":"3a6eedbf.ae02e2","name":"temp-humid","topic":"environmentTopic","qos":"2","datatype":"json","broker":"8fec04c8.d999f8","x":90,"y":100,"wires":[["2d78cf52.51a21","24df4a64.b44ef6"]]},{"id":"2d78cf52.51a21","type":"influxdb out","z":"3a6eedbf.ae02e2","influxdb":"3a5731d.05e6dce","name":"environment","measurement":"environment","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":390,"y":200,"wires":[]},{"id":"119f5886.3abd67","type":"http in","z":"3a6eedbf.ae02e2","name":"","url":"myserver","method":"post","upload":false,"swaggerDoc":"","x":80,"y":360,"wires":[["2dd9186f.fe49e8","39bf7677.5cacba"]]},{"id":"24df4a64.b44ef6","type":"debug","z":"3a6eedbf.ae02e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":120,"wires":[]},{"id":"2dd9186f.fe49e8","type":"json","z":"3a6eedbf.ae02e2","name":"","property":"payload","action":"","pretty":false,"x":230,"y":280,"wires":[["5fef207e.3c721","e2f885b4.ca44e8"]]},{"id":"e6ccb609.d5e668","type":"http response","z":"3a6eedbf.ae02e2","name":"","statusCode":"","headers":{},"x":460,"y":420,"wires":[]},{"id":"39bf7677.5cacba","type":"function","z":"3a6eedbf.ae02e2","name":"","func":"\nmsg.payload = {\"data\": \"good\"};\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":440,"wires":[["e6ccb609.d5e668"]]},{"id":"e2f885b4.ca44e8","type":"influxdb out","z":"3a6eedbf.ae02e2","influxdb":"3a5731d.05e6dce","name":"environment","measurement":"environment","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":470,"y":340,"wires":[]},{"id":"8fec04c8.d999f8","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a5731d.05e6dce","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"home","name":"environment","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]
