nodeered-flows/flows_MQTT_in_only_current_reading-out_in_json.json
[{"id":"3a6eedbf.ae02e2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b6f4329f.dd7a6","type":"mqtt in","z":"3a6eedbf.ae02e2","name":"temp-humid","topic":"environmentTopic","qos":"2","datatype":"json","broker":"8fec04c8.d999f8","x":90,"y":100,"wires":[["2d78cf52.51a21","24df4a64.b44ef6"]]},{"id":"2d78cf52.51a21","type":"influxdb out","z":"3a6eedbf.ae02e2","influxdb":"3a5731d.05e6dce","name":"environment","measurement":"environment","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":390,"y":200,"wires":[]},{"id":"24df4a64.b44ef6","type":"debug","z":"3a6eedbf.ae02e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":120,"wires":[]},{"id":"250edac3.198c96","type":"inject","z":"3a6eedbf.ae02e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":340,"wires":[["f38619f2.bc61e8"]]},{"id":"f38619f2.bc61e8","type":"influxdb in","z":"3a6eedbf.ae02e2","influxdb":"3a5731d.05e6dce","name":"Retieve current Temp and Humidity","query":"select \"Temperature\", \"Humidity\" FROM environment WHERE Location = '5th_wheel'  order by time desc limit 1","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":380,"y":340,"wires":[["3a5ab74d.6fc168","93ca53c2.75437"]]},{"id":"3a5ab74d.6fc168","type":"debug","z":"3a6eedbf.ae02e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":340,"wires":[]},{"id":"ddf39d35.072be","type":"function","z":"3a6eedbf.ae02e2","name":"","func":"oldStr = msg.payload\nvar newStr = oldStr.slice(1, oldStr.length-1);\nmsg.payload = newStr;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":540,"wires":[["22532554.b4286a","6108558d.55c39c"]]},{"id":"93ca53c2.75437","type":"json","z":"3a6eedbf.ae02e2","name":"","property":"payload","action":"","pretty":false,"x":370,"y":480,"wires":[["ddf39d35.072be"]]},{"id":"22532554.b4286a","type":"debug","z":"3a6eedbf.ae02e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":540,"wires":[]},{"id":"f0752491.f667a8","type":"http in","z":"3a6eedbf.ae02e2","name":"","url":"/5th_wheel","method":"get","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["f38619f2.bc61e8"]]},{"id":"6108558d.55c39c","type":"http response","z":"3a6eedbf.ae02e2","name":"","statusCode":"","headers":{},"x":790,"y":580,"wires":[]},{"id":"8fec04c8.d999f8","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a5731d.05e6dce","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"home","name":"environment","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]